footer.footer 
  .footer__wrapper
    div
      h3.footer__label(data-animation="label")=footer.data.label
      a.footer__email(href=`mailto:${footer.data.email}` data-animation="label")=footer.data.email
    
    .footer__socials
      each item in footer.data.social_links
        a.footer__social__link(href=item.social_link.url target="_blank" data-animation="label")=item.social_text 
    
    span.footer__copyright(data-animation="label")=footer.data.copyright