.project {
  @extend %page;

  color: $color-merlin;
  background-color: $color-gallery;

  // @include media('<phone') {
  //   position: static;
  // }
}

.project__wrapper {
  @extend %page__wrapper;

  position: relative;
}

.navigation__link__to__home {
  @extend %link--hidden;

  position: fixed;
  top: 4rem;
  left: 4rem;

  font-size: 2rem;
  font-weight: 900;

  line-height: 1.4;

  z-index: z('link');
}

.link__to__project,
.link__to__github {
  position: fixed;
  right: 4rem;

  width: 8rem;
  height: 8rem;

  background-color: $color-merlin;
  color: $color-gallery;

  transition: scale 0.4s $ease-out-expo;

  padding: 2rem;
  border-radius: 50%;

  z-index: z('link');

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    scale: 1.05;
  }
}

.link__to__project {
  bottom: 4rem;

  &__svg {
    width: 3.7rem;
    height: 3.7rem;
  }
}

.link__to__github {
  bottom: 14rem;

  &__svg {
    width: 4.3rem;
    height: 3.8rem;
  }
}

.project__about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 95%;
  padding: 0 1rem;
  margin: 0 auto;

  @include media('<phone') {
    height: auto;
    margin: 10rem auto;
    padding: 2rem 0;
    align-content: start;
  }
}

.project__more__info__desktop {
}

.project__about__titles {
  margin-bottom: 6rem;
}
.project__title {
  font-size: 8rem;
  font-weight: 700;
  margin-left: -0.5rem;
}

.project__role {
  font-size: 1.8rem;
}

.project__description {
  font-size: 3.4rem;

  margin-bottom: 15rem;
  display: inline-block;
  line-height: 1.1;
}

.project__info {
  display: flex;
  justify-content: space-between;

  @include media('<phone') {
    flex-direction: column;
    gap: 2rem;
  }
}

.project__info__label {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project__info__text {
  font-size: 2.4rem;
  width: 40rem;
}

.project__showcases {
  width: 85%;
  padding: 0 1rem;
  margin: 0 auto;
}

.project__showcase__video {
  width: 100%;
}

.project__img {
  width: 100%;
  height: 88.3rem;

  @include media('<phone') {
    height: 30rem;
  }

  &:last-of-type {
    margin-bottom: 10rem;
  }
}
