.project {
  @extend %page;

  color: $color-merlin;
  background-color: $color-gallery;
}

.project__wrapper {
  @extend %page__wrapper;
}

.project__about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
}

.project__about__titles {
  margin-bottom: 6rem;
}
.project__title {
  font-size: 8rem;
  font-weight: 700;
  margin-left: -0.5rem;
}

.project__role {
  font-size: 1.8rem;
}

.project__description {
  font-size: 3.4rem;

  margin-bottom: 15rem;
  display: inline-block;
}

.project__info {
  display: flex;
  justify-content: space-between;
}

.project__info__label {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.project__info__text {
  font-size: 2.4rem;
  width: 40rem;
}

.project__showcases {
  width: 85%;
  padding: 0 1rem;
  margin: 0 auto;
}

.project__showcase__video {
  width: 100%;
}

.project__img {
  width: 100%;

  &:last-of-type {
    margin-bottom: 10rem;
  }
}
