$color-roman: #d6635a;
$color-merlin: #3f3b37;
$color-gallery: #ececec;

$ease-in-out: cubic-bezier(0.7, 0, 0.2, 1);
$ease-out-expo: cubic-bezier(0.4, 1, 0.8, 1);

$font-lato: 'Lato';

$z-indexes: ('preloader', 'navigation', 'link', 'content');
