*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  @extend %cover;
  font-size: calc(100vw / 1920 * 10);

  position: fixed;
  overflow: hidden;

  @include media('<phone') {
    font-size: calc(100vw / 768 * 10);
  }
}

body {
  @extend %cover;

  position: fixed;
  color: $color-merlin;
  font-family: $font-lato;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
}

.content {
  @extend %cover;
}

[data-animation='title'],
[data-animation='paragraph'],
[data-animation='label'] {
  span {
    display: inline-block;
    overflow: hidden;
  }
}
